[Unit]
Description=AosCore services
After=aos-cm.service aos-sm.service aos-iam.service
Wants=aos-cm.service aos-sm.service aos-iam.service

[Install]
WantedBy=multi-user.target
