name: Check formatting

on:
  push:
    branches:
      - main
      - develop
      - feature*

  pull_request:
    branches:
      - main
      - develop
      - feature*

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install clang-format==15.0.7 cmake_format

      - name: Run clang-format style check
        run: |
          find . -not -path '*/build/*' \( -name '*.cpp' -or -name '*.hpp' -or -name '*.c' -or -name '*.h' \) \
            -exec clang-format --dry-run --Werror {} +

      - name: Run cmake-format style check
        run: |
          find . \( \( -not -path '*/build/*' \) -name '*.cmake' -or -name 'CMakeLists.txt' \) \
            -exec cmake-format --check {} +;

      - name: Run markdownlint check
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: "**/*.md"
